

.portfolio-view {
    min-height: calc(100vh - 94px - 21px);
    padding-top: 15px;
}

.nav-test {
    .nav-item {
        .nav-link {
            padding: 13px 1em;
        }
    }
}

.card-container {
    @include media-breakpoint-down(xs) {
        padding-top: 5px;
    }
}

.section-title-bar {
    @extend .blue-grey;

    $blue-grey-base: map-get($blue-grey, "base");

    padding: 1rem 1.5rem;
    border-top: 1px solid $blue-grey-base;
    border-bottom: 1px solid $blue-grey-base;

    h1 {
        margin: 0;
        color: $white;
        font-family: jaf-facitweb, sans-serif;
        font-size: 55px !important;
        font-weight: 800;
    }
}

.child-router {
    @extend .grey;

    @extend .darken-3;

    // height: calc(100vh - 21px);
    // position: fixed;

    .nav-item {
        background-color: $red;

        .nav-link {
            color: $white;
        }
    }
}

.router-view {
    // float: right;
}

figure {
    @include media-breakpoint-down(xs) {
        padding-top: 5px;
    }
}
