//-------------------------------------------------------------------------------
//  VARIABLES that can be used throughout connected .scss files.
//  Include $variables at the top of @import file
//-------------------------------------------------------------------------------


// DEFAULT COLORS
// -------------------------
$white:                 #ffffff;
$black:                 #000000;


// GRAYS
// -------------------------
$gray-lighter-white:    #fafafa;
$gray-lighter:          #eeeeee;
$gray-light-mid-mid:    #e6e7e8;
$gray-light-mid:        #dddddd;
$gray-light:            #b3b3b3;
$gray-mid-light:        #777777;
$gray-mid:              #5f5f5f;
$gray:                  #414042;
$gray-dark:             #333333;
$gray-darker:           #222222;
$gray-darker-black:     #090909;

$sublime-gray:          #202020;


// CORE COLORS
// -------------------------
$red:                   #fb1919;                    // #fb1919
$green:                 #8cc050;                    // #8cc050
$yellow:                #f3c502;                    // #f3c502


// REDS
// -------------------------
$nice-red-light:        #f26f53;                    // source unknown
$nice-red:              #fe0236;                    // source unknown
$red-material:          #a52a2a;                    // source unknown

$red-light:             lighten($red, 15%);          // #fc6464
$red:                   $red;                       // $red
$red-dark:              darken($red, 20%);          // #ab0303
$red-darker:            darken($red, 30%);          // #790202


// YELLOWS
// -------------------------
$yellow-light:          lighten($yellow, 20%);      // #fedf5d
$yellow:                $yellow;                    // $yellow
$orange:                mix($red, $yellow, 30%);    // #f59109
$orange-light:          mix($red, $yellow, 15%);    // #f4ab05
$brand-warning:         $yellow;


// GREENS
// -------------------------
$green-light:           lighten($green, 10%);       // #a5ce76
$green:                 $green;                     // $green
$green-dark:            darken($green, 20%);        // #587d2d

$green-lime:            #60ef15;
